{% extends "base.html" %}
{% block content %}
<div class="container flex-grow-1"> <!-- "flex-grow-1" is part of keeping footer at bottom of page -->
  <div class="row m-6">
    <div class="col-md-12">
      <h1>Our Privacy Policy</h1>
      <hr>
    </div>
  </div>
  <div class="row m-6 text-box">
    <div class="col-md-12">
      <br>
      <h3>What is this?</h3>
      <p>This Privacy Policy document contains types of information that is collected and recorded by this website along with how it is used.</p>
      <hr>

      <br>
      <h3>Consent</h3>
      <p>By using this website, you hereby consent to our Privacy Policy and agree to its terms.</p>
      <hr>

      <br>
      <h3>Information we collect</h3>
      <p>This website does not ask for any Personally Identifiable Information, and we ask that you do not input your email address, phone number, home address, name, age or any other personal information that can be used to identify who you are. This website is designed to produce an anonymous CV in PDF format, which can then be converted to a Word document and editted manually. All information inputted within this website via submitting forms is saved in a database anonymously.</p>
      <hr>

      <br>
      <h3>How we use your information</h3>
      <p>This website uses the information it collects <i>soley</i> to produce a PDF output of your CV.</p>
      <hr>

      <br>
      <h3>Log Files</h3>
      <p>This website follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
      <hr>

      <br>
      <h3>Cookies and Web Beacons</h3>
      <p>Like any other website, this website uses 'cookies'. You can find out more about these cookies by reading our <u><a href="{% url 'cookies_policy' %}">cookies policy</a></u>.</p>
      <hr>

      <br>
      <h3>Advertising</h3>
      <p>This website does not make use of any advertising.</p>
      <hr>

      <br>
      <h3>Third Party Privacy Policies</h3>
      <p>This websites Privacy Policy does not apply to other advertisers or websites. Thus, we are advising you to consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options.</p>
      <hr>

      <br>
      <h3>Disabling Cookies</h3>
      <p>You can choose to disable cookies through your individual browser options. To know more detailed information about cookie management with specific web browsers, it can be found at the browsers' respective websites.</p>
      <hr>

      <br>
      <h3>CCPA Privacy Rights (Do Not Sell My Personal Information)</h3>
      <p>Under the CCPA, among other rights, California consumers have the right to:</p>
      <ul>
        <li>Request that a business that collects a consumer's personal data disclose the categories and specific pieces of personal data that a business has collected about consumers.</li>
        <li>Request that a business delete any personal data about the consumer that a business has collected.</li>
        <li>Request that a business that sells a consumer's personal data, not sell the consumer's personal data.</li>
        <li>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</li>
      </ul>
      <hr>

      <br>
      <h3>GDPR Data Protection Rights</h3>
      <p>We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
      <ul>
        <li><b>The right to access</b> – You have the right to request copies of your personal data. We may charge you a small fee for this service.</li>
        <li><b>The right to rectification</b> – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.</li>
        <li><b>The right to erasure</b> – You have the right to request that we erase your personal data, under certain conditions.</li>
        <li><b>The right to restrict processing</b> – You have the right to request that we restrict the processing of your personal data, under certain conditions.</li>
        <li><b>The right to object to processing</b> – You have the right to object to our processing of your personal data, under certain conditions.</li>
        <li><b>The right to data portability</b> – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
      </ul>
      <p>If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.</p>
      <hr>

      <br>
      <h3>Children's Information</h3>
      <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
    </div>
  </div>
</div>
{% endblock %}
