body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul, ol {
  margin: 0;
}

h3 + p {
  margin-top: -5px;
}

p + ul, p + ol {
  margin-top: -20px;
}

ul + p, ol + p {
  margin-top: 10px;
}

ul li, ol li {
  padding: 10px 0px;
}

.bg-fca {
  background-color: #6C1D45;
}

/*
.text-box {
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07), 0 6px 20px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
*/

/*
.bg-steel {
  background-color: #5f788a;
}
*/

.site-header .navbar-nav .nav-link {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link:hover {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar {
  padding: 0;
}
.navbar-nav {
  font-size: 19px;
}

.navbar .nav-item {
  padding-left: 20px;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-fca {
  background-color: #6C1D45;
  color: #ffffff;
  margin-bottom: 100px;
}

.btn-fca:hover {
  background-color: #5cb85c;
  color: #ffffff;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.footer-separator {
  padding: 0 10px;
}

.images-about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-slogan {
  display: flex;
  justify-content: center;
  max-height: 300px;
}
