<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <h2>{{ user_profile.first_name }}</h2>
    <h2>{{ user_profile.phone }}</h2>
    <h2>{{ user_profile.email }}</h2>
    <hr>
    <p>Summary</p>
    <p>{{ user_profile.job }}</p>
    <p>{{ user_profile.school }}</p>
  </body>
</html>
